html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
  width: 100vw; height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#textContainer {
  width: 100%; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.v-rl {
  writing-mode: vertical-rl;
}

$paddingTB: 5vmin;
$paddingRL: 5vmin;
$font-size: 70vmin;

#textRevealer {
  padding: $paddingTB $paddingRL;
  font-size: $font-size;
  font-family: Roboto, "Noto Sans CJK TC", sans-serif;
  text-rendering: optimizeLegibility;
  white-space: pre;
}

#textArea {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  font-family: Roboto, "Noto Sans CJK TC", sans-serif;
  text-align: center;
  white-space: nowrap;
}

@keyframes blink {
  from { background-color: rgba(0, 0, 0, 0); }
  to { background-color: rgba(0, 0, 0, .8); }
}

#textRevealer, .tag.-BR-{
  &::before, &::after {
    content: "";
    padding: 1px;
  }
}

.tag {
  &.-CURSOR {
    position: relative;
    margin: 0 -2px;
    &::before {
      content: '';
      padding: 0 2px;
      animation: blink 600ms ease-in-out infinite alternate both;
    }
  }
  &.-SELECT {
    background-color: rgba(0, 0, 0, .5);
    color: rgba(255, 255, 255, .9);
  }
  
  &.-SYMBOL {
    font-size: .9em;
    opacity: .5;
  }
  
  &.-numsign:not(.-G-start):not(.-G-end) {
    font-size: 2em;
    font-weight: 900;
  }
  &.-numsign2:not(.-G-start):not(.-G-end) {
    font-size: 1.5em;
    font-weight: 700;
  }
  
  &.-ast, &.-ast3 { font-style: italic; }
  &.-ast2, &.-ast3 { font-weight: bold; }
  
  &.-under { text-decoration: underline; }
  &.-hyphen { text-decoration: line-through; }
  &.-tilde { text-decoration: line-through; }
  
  &.-dblq, &.-cjkq {
    &, &-start, &-end {
      font-family: serif;
    }
  }
    
  &.-grave {
    &, &-start, &-end {
      font-family: monospace;
      font-size: inherit;
      font-style: normal;
      font-weight: normal;
      text-decoration: none;
      background-color: rgba(#fdc565, .2);
      &.-SELECT {
        background-color: rgba(#f6b763, .5);
        color: #61574c;
      }
    }
  }
}
