html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden; }

#textContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden; }

.v-rl {
  writing-mode: vertical-rl; }

#textRevealer {
  padding: 5vmin 5vmin;
  font-size: 70vmin;
  font-family: Roboto, "Noto Sans CJK TC", sans-serif;
  text-rendering: optimizeLegibility;
  white-space: pre; }

#textArea {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  font-family: Roboto, "Noto Sans CJK TC", sans-serif;
  text-align: center;
  white-space: nowrap; }

@keyframes blink {
  from {
    background-color: transparent; }
  to {
    background-color: rgba(0, 0, 0, 0.8); } }

#textRevealer ::before, #textRevealer::after, .tag.-BR- ::before, .tag.-BR-::after {
  content: "";
  padding: 1px; }

.tag.-CURSOR {
  position: relative; }
  .tag.-CURSOR::before {
    content: '';
    padding: 0 2px;
    animation: blink 600ms ease-in-out infinite alternate both; }

.tag.-SELECT {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.9); }

.tag.-SYMBOL {
  font-size: .9em;
  opacity: .5; }

.tag.-numsign:not(.-G-start):not(.-G-end) {
  font-size: 2em;
  font-weight: 900; }

.tag.-numsign2:not(.-G-start):not(.-G-end) {
  font-size: 1.5em;
  font-weight: 700; }

.tag.-ast, .tag.-ast3 {
  font-style: italic; }

.tag.-ast2, .tag.-ast3 {
  font-weight: bold; }

.tag.-under {
  text-decoration: underline; }

.tag.-hyphen {
  text-decoration: line-through; }

.tag.-tilde {
  text-decoration: line-through; }

.tag.-dblq, .tag.-dblq-start, .tag.-dblq-end, .tag.-cjkq, .tag.-cjkq-start, .tag.-cjkq-end {
  font-family: serif; }

.tag.-grave, .tag.-grave-start, .tag.-grave-end {
  font-family: monospace;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  background-color: rgba(253, 197, 101, 0.2); }
  .tag.-grave.-SELECT, .tag.-grave-start.-SELECT, .tag.-grave-end.-SELECT {
    background-color: rgba(246, 183, 99, 0.5);
    color: #61574c; }
